@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap');

*{
    margin: 0;
    font-family: 'Manrope', sans-serif ;
    background-color:hsl(218, 23%, 16%) ;
    
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    
    
}
.advice-area{
   
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:  hsl(217, 19%, 24%);
    width:  450px;
    height: 300px;
    border-radius: 20px;

    
    
}
.advice-title{
    font-family:'Manrope',Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 15px;
    background: transparent;
    color:hsl(150, 100%, 66%);
}
.advice-quote{
   
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Manrope',Arial, Helvetica, sans-serif;
    word-wrap: break-word; /*quebrar palavras caso ultrapsse o tamanho do container*/
    overflow:  break-word; /*quebrar palavras caso ultrapsse o tamanho do container*/
    font-size:  20px;
    display: flex;
    color: hsl(193, 38%, 86%);
    background-color: transparent;
    font-weight: 800;
    text-align: center;
    height: 250px;
}

.advice-line {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: start;
    background: transparent;
    height: 22vh;
    
    
}

.advice-line img{
    background-color: transparent;
    width: 300px;
    height: 15px;
}
.advice-icon {
    cursor: pointer; /*item clicavel*/
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(150, 100%, 66%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 25%; /*achei mais elegante*/
    position: absolute;
    /*margin-top: 285px;*/
    
}
.advice-icon:hover{
    background-color: hsl(150, 100%, 66%);
    color: #050801;
    box-shadow: 0 0 5px hsl(150, 100%, 66%),
                0 0 25px hsl(150, 100%, 66%),
                0 0 50px hsl(150, 100%, 66%),
                0 0 200px hsl(150, 100%, 66%);
    
}
.advice-icon img{

    background-color: transparent;
    height: 20px;
    fill: aliceblue;
    
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

footer{

  position: absolute;
  /*margin-top: 60%;*/
  bottom: 0; /*footer ao final da pagina*/

   
}

@media (max-width: 550px){

    .advice-area{
        width: 300px;
        height: 250px;
    }
    .advice-title{
        font-size: 13px;
    }

    .advice-quote{
        font-size: 17px;

    }

    .advice-line img{
        width: 200px;
        height: 10px;
    }

    .advice-icon {
    
        height: 30px;
        width: 30px;
        bottom: 29%;
        
    }

    .advice-icon img{

        background-color: transparent;
        height: 15px;
        fill: aliceblue;
        
    }

}
